# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
chromedriver.exe
# testing


# production
/build
/src/build
/src/dist

# misc
*.pyc
__pycache__
errorfile.txt
output.txt
output.docx
.vscode